header{
}
.div-nav{
  display: flex;
  justify-content: center;
	border-bottom: 1px solid #aaa;
}
.div-logo{
	width: 64%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#btn-menu{
	display: none;
}
.menu{
	font-size: 15px;
	display: flex;
}
.menu_ul{
	display: flex;
	text-align: center;
	list-style: none;
	padding: 0;
}
.menu_ul li a:hover{
	color: #3d6;
	transition: .6s;
}
.menu_ul li.active a{
	color: #3d6;
}
.menu_ul li a{
	text-decoration: none;
	color: #555;
	display: block;
	padding: 10px 25px;
}
.lbl_btn{
	padding:3px 10px;
	font-size: 25px;
	color: white;
}
.lbl_btn:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,.3);
}
.div_lbl{
	display: none;
	background-color: #3d6;
	justify-content: center;
}
@media screen and (max-width: 768px){
	.div_lbl{
		display: flex;
	}
	.menu_ul{
		flex-direction: column;
		width: 100%;
	}
	.menu{
		position: fixed;
		width: 100%;
		top: -100vh;
		transition: all .5s;
		background-color: rgba(255, 255, 255, .9);
	}
	.busqueda{
		display: none;
	}
	.div-logo{
		justify-content: center;
	}
	#btn-menu:checked ~ .div-nav .menu{
		top: 35px;
	}
}
.busqueda{
	border: 1px solid #3d6;
	border-radius: 4px;
}
.busqueda input{
	border: none;
	outline: 0;
}
.busqueda button{
	background-color: #3d6;
	color: #eee;
	padding: 10px;
	border:none;
}